html, body {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    font-weight: bold;
    font-size: 6em;
    text-align: center;
}